<html>
  <head>
    <title>Jinja2</title>
    {% widgetmedia 'style' %}
    {% widgetmedia 'css' %}
  </head>
  <body>
    {% widget 'hello' class="hello" %}
    {% widgetmedia 'js' %}
    {% widgetmedia 'script' %}
  </body>
</html>